# Visual Studio
.vs/
bin/
obj/
*.tmp

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/

# SonarQube
.sonarqube/

# Unit Tests & Coverage
TestResults/
*.trx
*.xml

# IDE & OS
.vscode/
*.log
